body
{
    padding-top: 0px;
    padding-bottom: 0px;
    width:100%;
    height:100%;
}

.healthcheck-header
{
    position: relative;
    padding: 15px 15px;
    text-shadow: 0 1px 0 rgba;
    height: 70px;
    margin-bottom: 25px;
    color: #fff;
    background-color: #428bca;
}

#contactform .btn:hover {
    background: rgba(9,8,77,0.7);
}

#map-canvas {
    width: 100%;
    height: 850px;
    margin-bottom: 15px;
    border: 2px solid #fff;
}

#leftwell{
    width:100%;
    min-height:850px;
    height: 100%;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }