body
{
    padding-top: 0px;
    padding-bottom: 0px;
    width:100%;
    height:100%;
}

.healthcheck-header
{
    position: relative;
    padding: 15px 15px;
    text-shadow: 0 1px 0 rgba;
    height: 70px;
    margin-bottom: 25px;
    color: #fff;
    background-color: #428bca;
}

#contactform .btn:hover {
    background: rgba(9,8,77,0.7);
}

#map-canvas {
    width: 100%;
    height: 850px;
    margin-bottom: 15px;
    border: 2px solid #fff;
}

#leftwell{
    width:100%;
    min-height:850px;
    height: 100%;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    width:100%;
    height:40px;
    border-radius: 7px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}